.container {
    width: 1800px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    
}

/* }
.header-wrapper{
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}
p{
    background-color: blueviolet;
    color: gold;
    margin: 20px 40px 60px 80px;
    text-align: center;
    font-size: larger;
    font-style: italic;
    width: 500px;
}
main{
    background-color: aqua;
    padding: 4px;
    max-width: 800px;
}
main p :nth-child(1){
    width: 200px;
} */

/* pseudo element */

p::first-line {
    color: rgb(7, 214, 17);
}

p::first-letter {
    color: red;
}

p::before {
    content: "hai!";
}

p::after {
    content: "bye!";
    color: violet;
}

::marker {
    color: rgb(42, 81, 165);
}

::selection {
    background-color: aqua;
    color: rgb(158, 18, 201);
}

/* pseudo class */

nav a:hover {
    background-color: aqua;
    color: white;
}

nav a:link {
    color: blueviolet;
}

nav a:visited {
    color: brown;

}

nav a .active:hover {
    color: black;
}

.vicky img {
    vertical-align: text-bottom;
}