.container {
    width: 1800px;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;

}

/* }
.header-wrapper{
display: flex;
justify-content: space-between;
flex-wrap: wrap;

}
p{
    background-color: blueviolet;
    color: gold;
    margin: 20px 40px 60px 80px;
    text-align: center;
    font-size: larger;
    font-style: italic;
    width: 500px;
}
main{
    background-color: aqua;
    padding: 4px;
    max-width: 800px;
}
main p :nth-child(1){
    width: 200px;
} */

/* pseudo element */

/* p::first-line {
    color: rgb(7, 214, 17);
}

p::first-letter {
    color: red;
}

p::before {
    content: "hai!";
}

p::after {
    content: "bye!";
    color: violet;
}

::marker {
    color: rgb(42, 81, 165);
} */

::selection {
    background-color: aqua;
    color: rgb(158, 18, 201);
}

/* pseudo class */

/* nav a:hover {
    background-color: aqua;
    color: white;
}

nav a:link {
    color: blueviolet;
}

nav a:visited {
    color: brown;

}

nav a .active:hover {
    color: black;
}

.image img {
    vertical-align: text-bottom; */
/* } */

/* box shadow */
/* .box-shadow p {
    width: 400px;
    height: 100px;
    background-color: brown;
    padding: 30px;
    box-shadow: 10px 10px;
}

.box-shadow1 p {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: yellow;
    box-shadow: 10px 10px lightblue;
}
.box-shadow2 p {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color:green;
    box-shadow: 10px 10px 5px lightblue;
}
.box-shadow3 p {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color:red;
    box-shadow: 10px 10px 5px 12px lightblue;
}
.box-shadow4 p {
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color:seagreen;
    box-shadow: 10px 10px 5px  lightblue inset;
}

.trans h6{
    width: 100px;
    height: 100px;
    background-color:darkorchid;
    margin: 100px auto;
    transition:all 0.5s ease-in;

}
.trans h6:hover{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: green;
    transform: rotate(180deg);

} */

/* display property */
.display div{
    display: block;
    background-color: brown;
    height: 80px;
    width: 200px;

}
.display span{
    display: inline-block;
    background-color: rgb(42, 165, 63);
    /* height: 80px;
    width: 200px; */
    

}
.button a{
    text-decoration: none;
    background-color: black;
    padding: 10px;
    color: antiquewhite ;
    border: 1px solid black;
}   
a .button{
    display: inline-block;
}
/* css units */
p {
    font-size: 16px;
    line-height: 2em;
  }
  
  .hai {
    font-size: 30px;
    border: 1px solid black;
  }
  
  span {
    font-size: 0.5em;
  }

  /*  em*/
  .child1{
    font-size: 2em;

  }
.child2{
    font-size: 4em;

}
  /*  rem*/
  .child3{
    font-size: 1rem;

  }
.child4{
    font-size: 3rem;

}